body {
  background: papayawhip;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1vh;
}

.a {
  border: solid red;
  min-height: 12vh;
  min-width: 100%;
  margin: 1vh;
}

.b {
  border: solid blue;
  min-height: 48vh;
  min-width: 100%;
  margin: 1vh;
}

.c, .d, .e {
  border: solid darkgreen;
  min-height: 12vh;
  min-width: 12vh;
  flex-grow: 4;
  margin: 1vh;
}

.f {
  border: solid hotpink;
  min-height: 12vh;
  min-width: 100%;
  margin: 1vh;
}

@media (min-width: 600px) {
  .content {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a {
    width: 100%;
    max-height: 12vh;
  }
  .b {
    flex-grow: 3;
    max-width: 70%;
  }
  .c, .d, .e {
    
  }
  .f {
    flex-grow: 3;
    min-height: 80vh;
  }
}